.blockette{
    width: 100px;
    height: 30px;
    background-color: #a6ff56;
    border-radius:8px;
    display: inline;
    margin: 1px 5px 1px 5px;
}
.blockette label{
    height: 20px;
    font-size: 16px;
    /*position: relative;*/
    /*top: 1px;*/
}
.blockette input[type="button"]{
    border-width: 0px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    font-weight: bolder;
    font-size: 15px;
    /*padding: -10px 0.5em 0.5em 0.5em;*/
    /*padding-top: 0px;*/
    cursor: pointer;
    width: 25px;
    height: 20px;
    background-color: #a6ff56;
    position: relative;
    top: 1px;
    /*display: inline;*/
    /*margin: 0px 0px 0px 5px;*/
}
.blockette input[type="button"]:hover{
    color: #fff;
    background: #0a90f5;
}
.blockette input[type="button"]:focus{
    color: #fff;
    background: #0a90f5;
    outline: none;
}