

<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title></title>
    <link rel="shortcut icon" href="/staticResources/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/staticResources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/staticResources/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/staticResources/css/font-icon-style.css">
    <link rel="stylesheet" href="/staticResources/css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/staticResources/css/pages/404.css">
</head>

<body>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<section class="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="block text-center">
                    <h2 class="animated wow fadeInLeft" data-wow-delay="0.3s" data-wow-duration=".2s">系统维护中，暂时无法访问</h2>
                    <p class="animated wow fadeInRight" data-wow-delay="0.5s" data-wow-duration=".5s"></p>
                    <div class="animated wow fadeInUp text-center" data-wow-delay="0.7s" data-wow-duration=".7s">
                      <span>
                        <a class="btn btn-general btn-blue"  onclick="history.back()" role="button">返回上一个界面</a>
                        <a class="btn btn-general btn-blue" href="/gotoLogin" role="button">返回登陆</a>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Global Javascript -->
<script src="/staticResources/js/jquery.min.js"></script>
<script src="/staticResources/js/tether.min.js"></script>
<script src="/staticResources/js/bootstrap.min.js"></script>
</body>

</html>