<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>

    <title>华西医院应急系统</title>
    <link rel="shortcut icon" th:href="@{staticResources/img/favicon.ico}"/>

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{staticResources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{staticResources/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{staticResources/css/font-icon-style.css}"/>
    <link rel="stylesheet" th:href="@{staticResources/css/style.default.css}" id="theme-stylesheet"/>

    <!-- Core stylesheets -->
    <link rel="stylesheet" th:href="@{staticResources/css/form.css}">
</head>

<body>
    
<!--====================================================
                     MAIN NAVBAR
======================================================-->
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down">华西医院应急系统</div>
                    </a>

                    <!-- 导航栏 -->
                    <a href="404.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">人员管理</div>
                    </a>


                    <a href="/carAll" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">车辆管理</div>
                    </a>
                    <a href="404.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">日志</div>
                    </a>
                    <a href="404.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">系统用户管理</div>
                    </a>
                    <!--<a id="toggle-btn" href="#" class="menu-btn active">-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                    <!--</a>-->
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                <!-- 全屏 -->
                <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img
                        src="/staticResources/img/expand.png" onclick="toggleFullScreen(document.body)" class="img-fluid" alt=""></a>
                </li>

                <!-- 账号切换 -->
                <li class="nav-item dropdown">
                    <a id="profile" class="nav-link logout" data-target="#" href="#"
                       data-toggle="dropdown">
                        <img src="staticResources/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"
                             style="height: 30px; width: 30px;">
                    </a>
                    <ul aria-labelledby="profile" class="dropdown-menu profile">
                        <li>
                            <a rel="nofollow" href="profile.html" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-power-off"></i>切换账号</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile.html" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-power-off"></i>注销</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--====================================================
                    PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->


        <div class="content-inner chart-cont">

            <div class="row">
                <div class="col-md-12">
                    <!--***** FORM INPUTS *****-->
                    <div class="card form" id="form2">
                        <div class="card-header">
                            <h3>
                                <i class="fa fa-indent">》</i>事件详情
                            </h3>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="thingsNo" style="width: 85px;" class=" col-form-label">事件编号</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="事件编号" id="thingsNo" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="thingsName" style="width: 85px;" class=" col-form-label">事件名称</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="事件名称" id="thingsName" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="thingsTime" style="width: 85px;" class=" col-form-label">发生时间</label>
                                    <div class="col-9">
                                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="thingsTime" disabled="disabled">
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label for="thingsLevel" style="width: 85px;" class=" col-form-label">事件等级</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="事件等级" id="thingsLevel" disabled="disabled">
                                    </div>
                                </div>-->
                                <div class="form-group row">
                                    <label for="caller" style="width: 85px;" class=" col-form-label">报警人</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="事件编号" id="caller" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="principal" style="width: 85px;" class=" col-form-label">负责人</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="负责人" id="principal" disabled="disabled">
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label for="casualty" style="width: 85px;" class=" col-form-label">伤亡人数</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="事件编号" id="casualty" disabled="disabled">
                                    </div>
                                </div>-->

                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="state" style="width: 85px;" class=" col-form-label">处理进度</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="处理进度" id="state" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" style="width: 85px;" class=" col-form-label">事件类型</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="处理进度" id="type" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="detailedAddress" style="width: 85px;" class=" col-form-label">详细地址</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="详细地址" id="detailedAddress" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="area" style="width: 85px;" class=" col-form-label">发生区域</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="发生区域" id="area" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="callerPhoneNumber" style="width: 85px;" class=" col-form-label">报警人电话</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="报警人电话" id="callerPhoneNumber" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="principalPhoneNumber" style="width: 85px;" class=" col-form-label">负责人电话</label>
                                    <div class="col-9">
                                        <input class="form-control" type="text" value="负责人电话" id="principalPhoneNumber" disabled="disabled">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br><br>

                        <div class="row">
                            <div class="col-md-5">
                                <h5><i class="fa fa-users">》</i>派出人员</h5>
                            </div>

                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <h5><i class="fa fa-truck">》</i>派出车辆</h5>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row" id="peopleAndCar" >
                            <div class="col-md-5" >
                                <!--style="overflow:scroll"-->
                                <div style="overflow-x: auto; overflow-y: auto; height: 500px; width:550px;">
                                    <table class="table table-hover"  align="center" style=" width:300px; height:200px">
                                        <thead>
                                        <tr>
                                            <th>名字</th>
                                            <th>职位</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>张三</td>
                                            <td>医生</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div style="overflow-x: auto; overflow-y: auto; height: 500px; width:550px;">
                                    <table class="table table-hover"  align="center" style=" width:300px; height:200px">
                                        <thead>
                                        <tr>
                                            <th>车牌</th>
                                            <th>司机</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>歘A15468</td>
                                            <td>老李</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            </div>

                    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Global Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/chart.min.js"></script> 
    <script src="js/front.js"></script> 
    
    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               } 
            }
        });
    </script>
</body>

</html>