<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>

    <title>华西医院应急系统</title>
    <link rel="shortcut icon" th:href="@{staticResources/img/favicon.ico}"/>

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{staticResources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{staticResources/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{staticResources/css/font-icon-style.css}"/>
    <link rel="stylesheet" th:href="@{staticResources/css/style.default.css}" id="theme-stylesheet"/>

    <!-- Core stylesheets -->
    <link rel="stylesheet" th:href="@{staticResources/css/ui-elements/card.css}">
    <link rel="stylesheet" th:href="@{staticResources/css/style.css}">
</head>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Search Now" class="form-control">
            </form>
        </div>
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down">华西医院应急系统</div>
                    </a>

                    <!-- 导航栏 -->
                    <a href="/personAll" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">人员管理</div>
                    </a>


                    <a href="/carAll" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">车辆管理</div>
                    </a>
                    <a href="404.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">日志</div>
                    </a>
                    <a href="404.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down nav-link">系统用户管理</div>
                    </a>
                    <!--<a id="toggle-btn" href="#" class="menu-btn active">-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                    <!--</a>-->
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                <!-- 全屏 -->
                <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img
                        src="/staticResources/img/expand.png" onclick="toggleFullScreen(document.body)"
                        class="img-fluid" alt=""></a>
                </li>

                <!-- 账号切换 -->
                <li class="nav-item dropdown">
                    <a id="profile" class="nav-link logout" data-target="#" href="#"
                       data-toggle="dropdown">
                        <img src="staticResources/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"
                             style="height: 30px; width: 30px;">
                    </a>
                    <ul aria-labelledby="profile" class="dropdown-menu profile">
                        <li>
                            <a rel="nofollow" href="profile.html" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-power-off"></i>切换账号</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile.html" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-power-off"></i>注销</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">


    <div class="content-inner">

        <div class="content-inner chart-cont">

            <!--***** CONTENT *****-->
            <!--查询div-->
            <div>
                <from>

                    <div class="input-group ">

                        <div class="input-group-addon">姓名</div>
                        <input type="text" class="form-control-sm" placeholder="姓名" name="name">&emsp;
                        <div class="input-group-addon">人员编号</div>
                        <input type="text" class="form-control-sm" placeholder="编号" name="pnum">&emsp;
                        <div class="input-group-addon">职位</div>
                        <input type="text" class="form-control-sm" placeholder="职位" name="position">&emsp;
                        <button type="button" class="btn btn-outline-primary" value="查询">查询</button>
                    </div>

                    <br>

                </from>
            </div>
            <div class="row">
                <table class="table table-hover" id="infotable">

                </table>
            </div>


            <from>
                <div class="row">
                    <div class="col-md-4">
                        <a href="/personadd" class="btn btn-outline-success ">添加人员</a>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary" value="上一页">上一页</button>

                        <input type="text" class="form-control-sm" placeholder="输入页数" name="inputPageNum"
                               style="width: 100px"/>
                        <span id="pageShow"></span>
                        <button type="button" class="btn btn-outline-primary" value="GO">GO</button>
                        <button type="button" class="btn btn-outline-primary" value="下一页">下一页</button>

                        <!--记录当前是第几页-->
                        <input type="hidden" name="currPage">
                        <input type="hidden" name="totalPage">
                    </div>
                </div>
            </from>
            <br>

        </div>


    </div>
</div>
<!-- FOOTER -->
<footer class="footer navbar-fixed-bottom text-md-center" style="background-color: #5e67d6">
    <div class="" style="padding-top: 30px;color: white;">应急系统 &copy; 2018.Company name LOVO J165 3组.</div>
</footer>

<!--Global Javascript -->
<script src="staticResources/js/jquery.min.js"></script>
<script src="staticResources/js/popper/popper.min.js"></script>
<script src="staticResources/js/tether.min.js"></script>
<script src="staticResources/js/bootstrap.min.js"></script>
<script src="staticResources/js/jquery.cookie.js"></script>
<script src="staticResources/js/jquery.validate.min.js"></script>

<!--<script src="staticResources/js/chart.min.js"></script>-->
<!--<script src="staticResources/js/front.js"></script>-->

<!--Core Javascript -->
<!--<script src="staticResources/js/mychart.js"></script>-->
<script>
    $(function () {
        var currPage = 1;
        $.getJSON("personpage", {currPage: currPage}, fillData);

        //点击翻页操作
        $(":button").click(function () {
            var button = this.value;
            var gopage = $(":input[name=inputPageNum]").val();
            var currPage = $(":hidden[name=currPage]").val();
            var totalPage = $(":hidden[name=totalPage]").val();
            currPage = parseInt(currPage);
            totalPage = parseInt(totalPage);

            if (button == "上一页") {
                currPage = currPage - 1;
                if (currPage < 1) {
                    currPage = 1;
                }
                $.getJSON("personpage", {currPage: currPage}, fillData);
            } else if (button == "下一页") {
                currPage = currPage + 1;
                if (currPage > totalPage) {
                    currPage = totalPage;
                }
                $.getJSON("personpage", {currPage: currPage}, fillData);
            } else if (button == "GO") {

                currPage = gopage;
                if (currPage > totalPage) {
                    currPage = totalPage;
                }
                $.getJSON("personpage", {currPage: currPage}, fillData);
            } else if (button == "查询") {
                var name = $("[name=name]").val();
                var pnum = $("[name=pnum]").val();
                var position = $("[name=position]").val();

                currPage = 1;
                $.getJSON("personpage", {currPage: currPage, name: name, pnum: pnum, position: position}, fillData);
            }

        });
    });

    //处理上面接接收的数据

    function fillData(data) {
        var $table = $("#infotable");
        $table.empty();
        var $head = $("<thead>\n" +
            " <tr class='bg-info text-white' >\n" +

            " <th>员工编号</th>\n" +
            " <th>姓名</th>\n" +
            " <th>性别</th>\n" +
            " <th>职位</th>\n" +
            " <th>电话</th>\n" +
            " <th>状态</th>\n" +
            " <th>排班</th>\n" +
            " <th>操作</th>\n" +
            " </tr>\n" +
            " </thead>");
        $table.append($head);

        //获取传过来的列表
        $.each(data.dataList, function (i, e) {
            var id = e.id;
            var pnum = e.pnum;
            var name = e.name;
            var sex = e.sex;
            var position = e.position;
            var tel = e.tel;
            var state = e.state;
            if (state == 1) {
                state = "已派出";
            } else if (state == 0) {
                state = "未派出";
            }
            var workTime = e.workTime;

            //以表格的形式展现出来

            var dataTr = "<tr>\n" +

                "            <td>" + pnum + "</td>\n" +
                "            <td>" + name + "</td>\n" +
                "            <td>" + sex + "</td>\n" +
                "            <td>" + position + "</td>\n" +
                "            <td>" + tel + "</td>\n" +
                "            <td>" + state + "</td>\n" +
                "            <td>" + workTime + "</td>\n" +

                "            <td><a class='btn btn-outline-primary' href='selectperson?id=" + id + "'>查看</a>&emsp;" +
                "               <a class='btn btn-outline-primary' href='selectpersonupdate?id=" + id + "'>修改</a>&emsp;" +
                "               <button class='btn btn-outline-warning' value='删除' id='del' onclick='delPerson(this)'>删除</button> <input type='hidden' value='"+id+"'></td>\n" +
                "        </tr>";

            $table.append(dataTr);
        });


        //加载当前页数
        $("[name=inputPageNum]").val(data.currPage);
        //渲染第几页信息
        $("#pageShow").text("/" + data.totalPage);

        //用隐藏表单域存之前获取到的值
        $(":hidden[name = currPage]").val(data.currPage);
        $(":hidden[name = totalPage]").val(data.totalPage);


    }

    function delPerson(del) {

        var pid=$(del).next().val();
        /*ajax提交后台*/
        $.getJSON("persondelete", {
            id: pid
        }, function (data) {
            /*回调函数*/
            if (data=='1') {
                alert("删除成功");
                var currPage=1;
                $.getJSON("personpage", {currPage: currPage}, fillData);
            }else if (data=='0') {
                alert("删除失败！");
            }
            else if (data=='-1') {
                alert("人员派出，不能删除");
            }
        });
    }

</script>
</body>

</html>